#
# name for this config
#
CONFIG_LOCALVERSION="-stb-523"
#
# options
#
# this is all a big mess and should really be cleaned up and reduced ...
#
CONFIG_PINCTRL_SUN55I_A523=y
CONFIG_PINCTRL_SUN55I_A523_R=y
CONFIG_SUN55I_A523_CCU=y
CONFIG_SUN55I_A523_R_CCU=y
CONFIG_NET_POLL_CONTROLLER=y
CONFIG_NET_VENDOR_ALLWINNER=y
CONFIG_SUNXI55I_GMAC=m
CONFIG_SUNXI55I_GMAC_MDIO=m
# CONFIG_SUNXI55I_GMAC_METADATA is not set
CONFIG_SUNXI55I_GMAC200=m
CONFIG_SUNXI55I_STMMAC=m
# CONFIG_SUNXI55I_STMMAC_UIO is not set
CONFIG_MAXIO_PHY=m
CONFIG_AW_STMMAC_ETH=m
CONFIG_AW_DWMAC_SUNXI=m
# CONFIG_AW_STMMAC_SELFTESTS is not set
# CONFIG_AW_STMMAC_UIO is not set
CONFIG_FB_DMAMEM_HELPERS_DEFERRED=y
# maybe in the future?
#CONFIG_SUNXI55I_EPHY
#CONFIG_SUNXI_GMAC_DA
